/* 드롭다운 메뉴 스타일 */
.sort-options {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top:40px;
    width: 100%;
    gap: 10px;  
    padding-left:10%;
}

.dropdown {
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    width: 150px;
    cursor: pointer;
}

/* 작은 화면에서도 드롭다운이 잘 보이도록 */
@media (max-width: 768px) {
    .dropdown {
        width: 100%;
        margin-bottom: 10px;
    }

    .sort-options {
        flex-direction: column;
        gap: 10px;  
        padding-left: 0;
    }
}
