body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #88CDD0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px; /* Adjust size as needed */
}

.search-bar {
    display: flex;
    align-items: center;
    width: 60%; /* Adjust width as per the design */
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
}

.search-bar input[type="text"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.search-bar .search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.header .links {
    display: flex;
    align-items: center;
}

.header a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.content div {
    text-align: center;
}

.content img {
    width: 60px;
    height: 60px;
}

.content p {
    margin-top: 10px;
    font-size: 18px;
}

.vertical-line {
    width: 2px;
    background-color: #ddd;
    height: 400px; /* 부모 높이와 동일하게 설정 */
    margin : 20px 20px;
}

.map {
    flex: 1;
    height: 400px;
}

.restaurant-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
}

.restaurant-details h1 {
    font-size: 40px;
}

.restaurant-name {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.info {
    margin-top: 50px;
    text-align: center;
}

.info p {
    margin: 5px 0;
    font-size: 18px;
    text-align: left; /* 왼쪽 정렬 */
    font-weight: bold;
    margin-left: 25px;
}

.actions {
    margin-top: 20px;
}

.actions div {
    margin-right: 20px;
    text-align: center;
}

.actions img {
    width: 25px;
    height: 25px;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px 0; 
}

.h1 {
    font-size: 24px; 
    text-align: center; 
    margin: 0; 
    margin-top : 50px;
    margin-bottom: 100px;
}

.like-section {
    display: flex;
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: flex-start;    /* 중앙 정렬 */
    font-size: 20px;
}

.like-icon {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
    margin-top: 10px; /* 좋아요 수와 하트 아이콘 사이의 간격 */
    margin-left: 16px;
}