<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    

</head>
<body>
    <div class="header">
        <!-- Logo image -->
        <a th:href="@{/main}">
            <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">
        </a>
         
        <!-- Updated Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="검색">
            <button class="search-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
            </button>
        </div>

        <div class="links">
            <!-- 로그인 안했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail == null}">
                <a th:href="@{/member/login}">Login</a>
                <a th:href="@{/member/new}">Signup</a>
            </div>
            <!-- 로그인 했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail != null}">
                <a th:href="@{/board/main}">Board</a>
                <a th:href="@{/mypage}">Mypage</a>
                <a th:href="@{/member/logout}">Logout</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="table-container">
            <h1>게시판</h1>
            
            <table class="board-table">
                <thead>
                    <tr>
                        <th class="post-num">번호</th>
                        <th class="author">작성자</th>
                        <th class="post-title">제목</th>
                        <th class="post-date">작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board: ${boardList}">
                        <td th:text="${board.id}"></td>
                        <td th:text="${board.author.name}"></td>
                        <td><a th:tref="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
                        <td th:text="*{temporals.format(board.boardCreatedTime, 'yyyy-MM-dd:mm:ss')}"></td>
                        <td th:text="${board.boardHits}"></td>
                    </tr>

                </tbody>
            </table>
    
            <div class="pagination">
                <a href="#">&laquo; 이전</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">다음 &raquo;</a>
                <a th:href="@{/board/write}" class="href-write">글쓰기</a>
            </div>
        </div>
    </div>

    <div class="footer">


    </div>
</body>
</html>