<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식점 상세페이지</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/javascript/script.js" defer></script> <!-- script.js 파일을 불러옴 -->
    
    
</head>
<body onload="initMap()">

    <div class="header">
        <!-- Logo image -->
        <a th:href="@{/main}"> <!-- 메인 페이지 링크 추가 -->
            <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">
        </a>
            
        <!-- 검색창 -->
        <div class="search-bar">
            <form id="sform" name="search" role="search" action="/search" method="get">
                <input type="text" id="query" name="query" placeholder="검색" maxlength="100" autocomplete="off">
                <button class="search-btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
                </button>
            </form>
        </div>

        <div class="links">
            <!-- 로그인 안했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail == null}">
                <a th:href="@{/member/login}">Login</a>
                <a th:href="@{/member/new}">Signup</a>
            </div>
            <!-- 로그인 했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail != null}">
                <a th:href="@{/board/main}">Board</a>
                <a th:href="@{/myPage}">Mypage</a>
                <a th:href="@{/member/logout}">Logout</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="map" style="width: 100%; height: 400px;">
            <p>지도</p>
        </div>
    
        <div class="vertical-line"></div> <!-- 세로 기준선 추가 -->
    
        <div class="restaurant-details">
            <h1 class="restaurant-name"><span th:text="${shop.name}"></span></h1>
            <div class="info">
                <p class="label" style="font-size:22px;"><strong>#주메뉴</strong></p>
                <p class="value" th:text="${shop.mainMenu}"></p>

                <br>

                <p class="label" style="font-size:22px;"><strong>#주소</strong></p>
                <p class="value" th:text="${shop.address}"></p>
                
                <br>

                <p class="label" style="font-size:22px;"><strong>#전화번호</strong></p>
                <p class="value" th:text="${shop.phone}"></p>

                <br>
                <div class="like-section">
                    <p id="likeCount" th:text="${shop.likeCount}"></p>
                    <form th:action="@{/toggleLike}" method="POST">
                        <input type="hidden" name="shopId" th:value="${shop.id}">
                        <button type="submit" class="like-btn">
                            <img class="like-icon" src="https://cdn-icons-png.flaticon.com/512/535/535183.png" alt="Heart Icon">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function initMap() {
            var latitude = /*[[${shop.lat}]]*/ 0; // 실제 lat 값으로 대체
            var longitude = /*[[${shop.lng}]]*/ 0; // 실제 lng 값으로 대체됩
            var shopLocation = {lat: latitude, lng: longitude};
    
            // 지도를 생성합니다
            var map = new google.maps.Map(document.querySelector(".map"), {
                zoom: 18, // 지도의 확대 수준
                center: shopLocation // 지도의 중심을 식당 위치로 설정
            });
    
            // 마커를 생성합니다
            var marker = new google.maps.Marker({
                position: shopLocation,
                map: map,
                icon: null
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAMdpdosDTpKxFMChnvC3fEZlQlU2nIBg"></script>
    
</body>
</html>