<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식점 상세페이지</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/javascript/script.js" defer></script> <!-- script.js 파일을 불러옴 -->
    
    
</head>
<body>

    <div class="header">
        <!-- Logo image -->
        <a th:href="@{/main}"> <!-- 메인 페이지 링크 추가 -->
            <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">
        </a>
            
        <!-- Updated Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="검색">
            <button class="search-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
            </button>
        </div>

        <div class="links">
            <!-- 로그인 안했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail == null}">
                <a th:href="@{/member/login}">Login</a>
                <a th:href="@{/member/new}">Signup</a>
            </div>
            <!-- 로그인 했을 때 보이는 메뉴바 -->
            <div th:if="${session.loginEmail != null}">
                <a th:href="@{/board/main}">Board</a>
                <a th:href="@{/myPage}">Mypage</a>
                <a th:href="@{/member/logout}">Logout</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="map">
            <p>식당 위치 지도로 띄움</p>
        </div>
        <div class="restaurant-details">
            <h2>식당 이름</h2>
            <div class="info">
                <p>주소: </p>
                <p>전화번호: </p>
            </div>
            <div class="actions">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/535/535183.png" alt="Heart Icon" 
                            onclick="toggleLike(1, 'likeCount')"> <!-- 이미지 클릭 시 toggleLike 실행 -->
                    <p id="likeCount">0</p> <!-- 좋아요 수를 표시할 요소 -->
                </div>
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="Star Icon">
                    <p>찜</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
