<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 찜한 가게</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="header">
        <!-- Logo image -->
        <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">

        <!-- Updated Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="검색">
            <button class="search-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
            </button>
        </div>

        <div class="links">
            <!-- 로그인 했을 때 보이는 메뉴바-->
            <a href="#">Board</a>
            <a href="#">Mypage</a>
            <a href="#">Logout</a>
        </div>
    </div>
     
    <div class="header-container">
        <h1 class="h1">내가 찜한 가게</h1>
    </div>

   <!-- 식당 리스트 -->
   <main class = "search_menu">
    <div class="restaurant_list">

        <!-- 첫번째 식당 리스트 -->
        <div class="restaurant">
            <div class="restaurant_content">
                <button class="restaurant_img_container" onclick="buttonClicked('https://www.google.com/maps/place/%ED%99%88%EB%A6%AC%EC%8A%A4%ED%83%80%EC%BD%94/data=!3m1!4b1!4m6!3m5!1s0x356efbf3d3cf29c5:0x775efd1a2094a1c9!8m2!3d35.1522716!4d128.1059644!16s%2Fg%2F11svbl1x1h?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">
                    <img class="restaurant_img" src="/image/restaurant.jpg" alt="가게이미지">
                </button>
                <div class="restaurant_text">
                    <span class="restaurant_name" onclick="buttonClicked('https://www.google.com/maps/place/%ED%99%88%EB%A6%AC%EC%8A%A4%ED%83%80%EC%BD%94/data=!3m1!4b1!4m6!3m5!1s0x356efbf3d3cf29c5:0x775efd1a2094a1c9!8m2!3d35.1522716!4d128.1059644!16s%2Fg%2F11svbl1x1h?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">홈리스타코</span>
                    <div class="restaurant_tags">
                        <span class="restaurant_tag">#가좌동</span>
                        <span class="restaurant_tag">#스펀지</span>
                        <span class="restaurant_tag">#분위기 좋은</span>
                    </div>
                </div>
                <div class="image-btn-container">
                    <div class="number-display" id="numberDisplay1">0</div>
                    <button class="toggle-btn" onclick="toggleNumber('numberDisplay1')">좋아요</button>
                </div>
                
            </div>
        </div>

        <!-- 두번째 식당 리스트 -->
        <div class="restaurant">
            <div class="restaurant_content">
                <button class="restaurant_img_container" onclick="buttonClicked('https://www.google.com/maps/place/%EC%8A%A4%EC%8B%9C%ED%95%98%EB%A3%A8/data=!4m10!1m2!2m1!1z7Iqk7Iuc7ZWY66Oo!3m6!1s0x356efb766b42e31b:0x7d01ba9b0119750f!8m2!3d35.1526625!4d128.1068172!15sCgzsiqTsi5ztlZjro6haDyIN7Iqk7IucIO2VmOujqJIBEHN1c2hpX3Jlc3RhdXJhbnTgAQA!16s%2Fg%2F1td_31sf?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">
                    <img class="restaurant_img" src="/image/restaurant.jpg" alt="가게이미지">
                </button>
                <div class="restaurant_text">
                    <span class="restaurant_name" onclick="buttonClicked('https://www.google.com/maps/place/%EC%8A%A4%EC%8B%9C%ED%95%98%EB%A3%A8/data=!4m10!1m2!2m1!1z7Iqk7Iuc7ZWY66Oo!3m6!1s0x356efb766b42e31b:0x7d01ba9b0119750f!8m2!3d35.1526625!4d128.1068172!15sCgzsiqTsi5ztlZjro6haDyIN7Iqk7IucIO2VmOujqJIBEHN1c2hpX3Jlc3RhdXJhbnTgAQA!16s%2Fg%2F1td_31sf?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">스시하루</span>
                    <div class="restaurant_tags">
                        <span class="restaurant_tag">#가좌동</span>
                        <span class="restaurant_tag">#일식집</span>
                        <span class="restaurant_tag">#회전초밥</span>
                    </div>
                </div>
                <div class="image-btn-container">
                    <div class="number-display" id="numberDisplay2">0</div>
                    <button class="toggle-btn" onclick="toggleNumber('numberDisplay2')">좋아요</button>
                </div>
                
            </div>
        </div>

        <!-- 세번째 식당 리스트 -->
        <div class="restaurant">
            <div class="restaurant_content">
                <button class="restaurant_img_container" onclick="buttonClicked('https://www.google.com/maps/place/%ED%95%98%EB%8F%99%EB%8F%88%EA%B0%80%EC%8A%A4/data=!3m1!4b1!4m6!3m5!1s0x356efb765cf2ffbf:0x94ba57216aca8684!8m2!3d35.1527858!4d128.107493!16s%2Fg%2F11f13064f8?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">
                    <img class="restaurant_img" src="/image/restaurant.jpg" alt="가게이미지">
                </button>
                <div class="restaurant_text">
                    <span class="restaurant_name" onclick="buttonClicked('https://www.google.com/maps/place/%ED%95%98%EB%8F%99%EB%8F%88%EA%B0%80%EC%8A%A4/data=!3m1!4b1!4m6!3m5!1s0x356efb765cf2ffbf:0x94ba57216aca8684!8m2!3d35.1527858!4d128.107493!16s%2Fg%2F11f13064f8?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D')">하동돈가스</span>
                    <div class="restaurant_tags">
                        <span class="restaurant_tag">#가좌동</span>
                        <span class="restaurant_tag">#돈가스</span>
                        <span class="restaurant_tag">#웨이팅</span>
                    </div>
                </div>
                <div class="image-btn-container">
                    <div class="number-display" id="numberDisplay3">0</div>
                    <button class="toggle-btn" onclick="toggleNumber('numberDisplay3')">좋아요</button>
                </div>
                
            </div>
        </div>
    </div>
</main>
    
    <script src="/javascript/script.js"></script>
</body>
</html>
