<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 좋아요한 가게</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="header">
        <!-- Logo image -->
        <a th:href="@{/main}">
            <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">
        </a>

        <!-- Updated Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="검색">
            <button class="search-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
            </button>
        </div>

        <div class="links">
            <!-- 로그인 했을 때 보이는 메뉴바-->
            <a th:href="@{/board/main}">Board</a>
            <a th:href="@{/myPage}">Mypage</a>
            <a th:href="@{/member/logout}">Logout</a>
        </div>
    </div>
     
    <div class="header-container">
        <h1 class="h1">내가 좋아요 가게</h1>
    </div>

   <!-- 식당 리스트 -->
   <main class = "search_menu">
    <div class="restaurant_list">

        <!-- 좋아요한 음식점 목록을 반복하여 출력 -->
        <div class="restaurant" th:each="shop : ${likedShops}">
            <div class="restaurant_content">
                <button class="restaurant_img_container" th:onclick="'buttonClicked(\'' + ${shop.mapUrl} + '\')'">
                    <img class="restaurant_img" th:src="@{/image/restaurant.jpg}" alt="가게이미지">
                </button>
                <div class="restaurant_text">
                    <span class="restaurant_name" th:text="${shop.name}" th:onclick="'buttonClicked(\'' + ${shop.mapUrl} + '\')'">음식점 이름</span>
                    <div class="restaurant_tags">
                        <span class="restaurant_tag" th:text="'#' + ${shop.category}">#종류</span>
                        <span class="restaurant_tag" th:text="'#' + ${shop.tag}">#태그</span>
                    </div>
                </div>
                <div class="image-btn-container">
                    <div class="number-display" th:text="${shop.likeCount}"></div>
                    <button class="toggle-btn" disabled>좋아요</button> <!-- 이미 좋아요 한 상태이므로 비활성화 -->
                </div>
            </div>
        </div>

    </div>
</main>
    
    <script src="/javascript/script.js"></script>
</body>
</html>
