<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <!-- 로그인 폼 -->
    <div class="login-form">
        <a th:href="@{/main}">
            <img src="https://github.com/onegyeol/GNUB/blob/main/%E1%84%85%E1%85%A9%E1%84%80%E1%85%A9(%E1%84%87%E1%85%A2%E1%84%80%E1%85%A7%E1%86%BCX).png?raw=true" alt="로고" style="max-width: 100%; height: auto; margin-bottom: 20px;">
        </a>
        <h2>로그인</h2>
        <form th:action="@{/member/login}" method="post">
            <input type="text" id="email" name="email" placeholder="이메일" required onkeydown="handleKeyPress(event)">
            <input type="password" id="password" name="password" placeholder="비밀번호" required onkeydown="handleKeyPress(event)">
            <button type="submit">로그인</button>
        </form>
        <div class="footer-links">
            <a href="#">비밀번호 찾기</a>
            <a href="#">아이디 찾기</a>
            <a th:href="@{/member/new}">회원가입</a> <!-- 회원가입 버튼 수정 -->
        </div>
            <!-- 로그인 실패 메시지 -->
            <div th:if="${param.error}">
                <p style="color: red;">아이디 또는 비밀번호가 잘못되었습니다.</p>
            </div>
    </div>
    <script>
    // Enter 키를 눌렀을 때 로그인 함수 호출
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            login();
        }
    }
    </script>



</body>
</html>
