<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <!-- 타임리프를 사용한 CSS 경로 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

 </head>
 <body>
   <div class="header">
      <!-- Logo image -->
      <a th:href="@{/main}">
        <img src="https://github.com/user-attachments/assets/fc7341a0-da3e-4971-9100-ddac29772144" alt="Logo" class="logo">
      </a>
      

      <!-- Updated Search Bar -->
      <div class="search-bar">
          <input type="text" placeholder="검색">
          <button class="search-btn">
              <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Search Icon" width="20" height="20">
          </button>
      </div>

      <div class="links">
        <!-- 로그인 안했을 때 보이는 메뉴바 -->
        <div th:if="${session.loginEmail == null}">
            <a th:href="@{/member/login}">Login</a>
            <a th:href="@{/member/new}">Signup</a>
        </div>
        <!-- 로그인 했을 때 보이는 메뉴바 -->
        <div th:if="${session.loginEmail != null}">
            <a th:href="@{/board/main}">Board</a>
            <a th:href="@{/myPage}">Mypage</a>
            <a th:href="@{/member/logout}">Logout</a>
        </div>
      </div>
    </div>

    <div class="post-body">
        <h1 th:text="${board.title}"></h1>  <!-- 게시글 제목 -->
        <p>작성자: <span th:text="${board.authorName}"></span></p>  <!-- 작성자 이름 -->
        <p>작성일: <span th:text="${board.boardCreatedTime}"></span></p>  <!-- 작성일 -->
        <p th:text="${board.content}"></p>  <!-- 게시글 내용 -->
        <p>조회수: <span th:text="${board.boardHits}"></span></p>  <!-- 조회수 -->
    </div>
    <div class="post-actions">
        <button type="button" onclick="window.location.href='/board/main';">목록으로</button>
        <a th:href="@{/board/edit/{id}(id=${board.id})}">
            <button type="button">수정</button>
        </a>
        <form th:action="@{/board/delete/{id}(id=${board.id})}" method="post" style="display: inline;">
            <button type="submit">삭제</button>
        </form>
            
    </div>

 </body>
 </html>